body {
  /* margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 10%;
  margin-right: 10%; */
  color: black;
  background: white;
  /* border: 3px solid black; */
  /* align-items: center; */
  margin: 0;
  overflow: hidden;
  height: 100vh;
}
canvas {
  /* border: 3px solid black; */
  /* padding-left: 0;
  padding-right: 0; */
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-top: 1em;
  margin-bottom: 1em; */
  /* display: block; */
  /* width: 800px; */
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: -1; /* Place the canvas behind other elements */
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}
